
<head>
  <meta charset="UTF-8"/>
  <title>Start</title>
  <meta name="description" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta property="og:image" content="assets/css/image.jpg"/>
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png"/>
  <meta name="theme-color" content="#000"/>
  <meta name="msapplication-navbutton-color" content="#000"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="#000"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css"/>
  <link rel="stylesheet" href="assets/css/main.min.css"/>
</head>