<!DOCTYPE html>
html(lang="en")
	include components/head.pug
body
	.pageWrapper
		header
			.container
				.logo
					img(src="./assets/img/logo.jpg", alt="Logo")
				.right-block
					.row
						span.brandName monblanproject
						button.btnStart Start on 17-02-2017
					.row.stat
						span.posts
							span.statNumber 800
							|  posts
						span.followers
							span.statNumber 12354
							|  followers
						span.following
							span.statNumber 4215
							|  following
					.row.datePickers
						span Date
						input(class="from", placeholder="from")
						input(class="to", placeholder="to")


		main
			.container
				.cards
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-1.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-2.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-3.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-4.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-5.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-6.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-7.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-8.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
					.myCard
						.myCard__image
							img(src="./assets/img/card-photo-9.jpg", alt="Card image")
							.myCard__imageOverlay
						.myCard__stat
							table
								tr
									td
										| Today
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
								tr
									td
										| 09-12-2016
									td
										i.fa.fa-heart
										span 255
									td
										i.fas.fa-comment-alt
										span 30
						.myCard__uploadDate
							| Image upload: 11-04-2016
				button.btnLoadMore load more


	script(src='https://unpkg.com/js-datepicker')

	script(src = "assets/js/scripts.min.js")